@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
  --color-primary: #1e293b;
  /* Slate 800 */
  --color-secondary: #475569;
  /* Slate 600 */
  --color-accent: #06b6d4;
  /* Cyan 500 - Hygiene/Fresh */
  --color-clean: #e0f2fe;
  /* Sky 100 - Clean Surface */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-primary antialiased selection:bg-accent/20 selection:text-white;
  }
}